@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@keyframes fizzbuzz {
    0% {
        opacity: 0;
        color: var(--dark);
    }

    to {
        opacity: 1;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes fizz-or-buzz {
    0% {
        opacity: 0;
        color: var(--dark);
    }

    to {
        opacity: 1;
        color: var(--result-color);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

:root {
    --bg: linear-gradient(90deg, rgba(34, 34, 34, 0.4) 20%, rgba(34, 34, 34, 0.8));
    --text: #d9d9d9;
    --input-bg: linear-gradient(90deg, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.8));
    --box-bg: linear-gradient(90deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.5));
    --dark: #191919;
    --button-bg: var(--gradient);
    --button-dark-bg: var(--dark);
    --button-text: var(--dark);
    --shadow: 2px 2px 16px black;
}

:root[data-theme="pepe"] {
    background: var(--bg),
        url("../assets/pepe-the-turtle.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    --secondary: rgba(127, 255, 212, 0.8);
    --gradient: linear-gradient(120deg, var(--secondary), aquamarine, #eddd53);
}

:root[data-theme="paco"] {
    background: var(--bg),
        url("../assets/paco-the-octopus.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    --secondary: #dc90ff;
    --gradient: linear-gradient(120deg, var(--secondary), rgb(139, 140, 208), rgba(127, 255, 212, 0.8));
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    font-size: normal;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    & button {
        border: 0;
        background: none;
        box-shadow: none;
        width: 50px;
        cursor: pointer;
        padding: 0.5rem;

        img {
            object-fit: contain;
            width: 100%;
            filter: drop-shadow(1px 1px 5px black);
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &:disabled {
            cursor: not-allowed;

            img {
                opacity: 0.5;

                &:hover {
                    transform: none;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: "Caveat", cursive;
    text-align: center;
    margin-top: 0;
}

h1 {
    font-size: clamp(3rem, 4vw, 6rem);
    background: var(--gradient);
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    margin: 0.5rem 0;
}

.fizz,
.buzz,
.fizzbuzz {
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
}

.fizzbuzz {
    animation: fizzbuzz 1s ease-in forwards;
}

.buzz {
    animation: fizz-or-buzz 1s ease-in forwards;
    --result-color: rgb(230, 247, 145);
}

.fizz {
    animation: fizz-or-buzz 1s ease-in forwards;
    --result-color: rgb(196, 144, 255);
}

form {
    display: flex;
    gap: 1rem;
    width: min(450px, 80vw);

    button {
        font-weight: 600;
        padding: 0.4rem 2.4rem;
        background: var(--button-bg);
        color: var(--button-text);
        border-radius: 2rem;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.5s;
        font-size: 0.8rem;

        &:hover {
            border: 1px solid var(--secondary);
            background: var(--button-dark-bg);
            transform: scale(1.1);
            color: var(--text);
        }
    }
}

input {
    padding: 1rem;
    background: var(--input-bg);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid var(--secondary);
    border-radius: 2rem;
    color: inherit;
    display: block;
    width: 100%;

    &:focus-visible {
        outline: none;
        box-shadow: 1px 1px 10px #d9d9d987;
    }

    &:user-invalid {
        outline: 2px solid rgba(255, 0, 0, 0.598);
        outline-offset: 4px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

#fizzbuzz-output,
#fizzbuzz-history {
    width: min(450px, 80vw);
    visibility: hidden;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    background: #1e1e1eaa;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px dashed var(--secondary);
    animation: float 3.5s ease-in-out infinite;
    box-shadow: var(--shadow);
}

#fizzbuzz-history {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    h2 {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}