@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@keyframes fizzbuzz {
    0% {
        opacity: 0;
        color: #191919;
    }

    to {
        opacity: 1;
        color: aquamarine;
    }
}

@keyframes buzz {
    0% {
        opacity: 0;
        color: #191919;
    }

    to {
        opacity: 1;
        color: rgb(230, 247, 145);
    }
}

@keyframes fizz {
    0% {
        opacity: 0;
        color: #191919;
    }

    to {
        opacity: 1;
        color: rgb(196, 144, 255);
    }
}

:root {
    --bg: #222;
    --text: #d9d9d9;
    --input-bg: #191919;
    --aquamarine: rgba(127, 255, 212, 0.8);
    --button-bg: var(--aquamarine);
    --button-dark-bg: #191919;
    --button-text: #191919;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--bg);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    font-size: normal;
}

h1,
h2 {
    color: var(--aquamarine);
    font-family: "Caveat", cursive;
    text-align: center;
}

h1 {
    font-size: clamp(3rem, 4vw, 6rem);
}

h2 {
    font-size: clamp(2rem, 4vw, 4rem);
}

.fizz,
.buzz,
.fizzbuzz {
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
}

.fizzbuzz {
    animation: fizzbuzz 1s ease-in forwards;
}

.buzz {
    animation: buzz 1s ease-in forwards;
}

.fizz {
    animation: fizz 1s ease-in forwards;
}

form {
    display: flex;
    gap: 1rem;
}

button {
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    background: var(--button-bg);
    color: var(--button-text);
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.8rem;

    &:hover {
        border: 1px solid var(--aquamarine);
        background: var(--button-dark-bg);
        color: var(--text);
    }
}

input {
    padding: 0.8rem 1rem;
    background: var(--input-bg);
    border: 1px dashed var(--aquamarine);
    border-radius: 0.6rem;
    color: inherit;

    &:focus-visible {
        outline: none;
        box-shadow: 1px 1px 10px #d9d9d987;
    }

    &:user-invalid {
        outline: 2px solid rgba(255, 0, 0, 0.598);
        outline-offset: 4px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

#fizzbuzz-output,
#history {
    visibility: hidden;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}